.home-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #add8e6; /* light blue */
}

.home-screen h1 {
  color: #00008b; /* dark blue */
  font-size: 3rem;
  margin-bottom: 30px;
}

.home-btn {
  background-color: #6481d2;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Define hover effect for buttons */
.home-btn:hover {
  background-color: #405ba8; /* Darken the background color on hover */
}

/* App.css */
.back-btn {
  background-color: #6481d2;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  top: 10px; /* Adjust top positioning */
  left: 10px; /* Adjust left positioning */
}

.back-btn:hover {
  background-color: #405ba8;
}

/* App.css */

.game-screen h3 {
  color: #00008b; /* dark blue */
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 5px;
  position: absolute; /* Position the text absolutely */
  right: 50px; /* Distance from the right edge of the container */
  top: -25px; /* Adjusted to a negative value to move the element up */
}

.game-screen {
  background-color: lightblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-screen h1 {
  color: black;
  /* padding: 10px 20px; */
  font-size: 60px;
  margin: 0;
  border-radius: 5px;
}
.game-screen h2 {
  color: black;
  margin: 0;
  /* padding: 10px 20px; */
  font-size: 35px;
  border-radius: 5px;
  margin-bottom: 50px; /* Adjust the top margin to move the text further up */
}

/* App.css */

/* Style for answer buttons */
/* App.css */

/* Style for answer buttons */
/* App.css */

/* Style for answer buttons */
.answer-btn {
  background-color: #6481d2;
  color: white;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px; /* Add some top margin between buttons */
  width: 200px; /* Set a fixed width for the buttons */
}

/* Define hover effect for answer buttons */
.answer-btn:hover {
  background-color: #405ba8; /* Darken the background color on hover */
}

/* Arrange buttons in two columns */
.answer-btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 10px; /* Gap between grid items */
}
