
.ol.display{
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(255,255,255,0.75);
  border: 1px solid rgba(255,255,255,0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35,35,35,0.1);
  color: #232323;
  font-size: 35px;
  overflow: auto;
  padding:20px;
  text-align: right;
  width: 326px;
  color: orange;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Add{
  background-color: aqua;
  margin: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  height: 30px;
  width: 30px;
  font-size: 20px;
}
.input{
  display: none;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 300px;
  height:20px;
}

.edit-button{
  background-color: black;
  color: white;
  margin: 5px;
}
.cancel-button {
  background-color: black;
  color:white;
  margin-top: 5px;
}
.add-button {
  background-color: white;
  color: black;
}
nav {
  background-color: black;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display:flex;
  align-items: center;
  justify-content: center;
  
}
.link{
  color:white;
  margin: 10px;
}
.Instructions{
  padding: 10px;
}
.Contact{
  padding:10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}