
.ol.display{
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(255,255,255,0.75);
  border: 1px solid rgba(255,255,255,0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35,35,35,0.1);
  color: #232323;
  font-size: 35px;
  overflow: auto;
  padding:20px;
  text-align: right;
  width: 326px;
  color: orange;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Add{
  background-color: aqua;
  margin: 20px;
  margin-bottom: -20px;
  border-radius: 6px;
  height: 30px;
  width: 30px;
  font-size: 20px;
}
.input{
  display: none;
  margin: 20px;
  margin-top: 20px;
  border-radius: 10px;
  width: 300px;
  height:30px;
}

.edit-button{
  background-color: black;
  color: white;
  margin: 5px;
}
