

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Add{
  background-color: aqua;
  margin: 20px;
  margin-bottom: -20px;
  border-radius: 6px;
  height: 30px;
  width: 30px;
  font-size: 20px;
}
.input{
  display: none;
  margin: 20px;
  margin-top: 20px;
  border-radius: 10px;
  width: 300px;
  height:30px;
}

.edit-button{
  background-color: black;
  color: white;
  margin: 5px;
}
